.container-fluid{
    border:1px solid;
    border-radius:10px;
    margin-bottom:20px;
}
.header h2{
    display:inline-block;
}
.header form{
    float:right;
}
.header input{
    border:none;
}
.header .form-group{
    display:inline-flex;
    border:1px solid;
    border-radius:20px;
    margin-top:10px;
}
.header span#search{
    margin-left:10px;
    margin-top: 8px;
}
.header span#cross{
    margin-right:10px;
    margin-top:8px;
}
/*changes*/
.header>a{
    float:right;
    margin: 25px 3px 0px 3px;
}
.wrap{
    margin:10px;
}
/*changes*/
.col-sm-7>.wrap>.row,.col-sm-5>.wrap>.row,.col-md-7>.wrap>.row,.col-md-5>.wrap>.row{
    border:1px solid;
}
.rounded-top{
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
    background-color: #e6e6e6;
    padding-left: 10px;
}
.media:last-child{
    padding-bottom: 15px;
}
.media{
    padding: 15px 25px 0px 25px;
}
.media span.glyphicon-user{
    border:1px solid;
    font-size:100px;
    padding-top:10px;
    padding-bottom: 0px;
}
.media .media-body a.right{
    float:right;
}
.media .media-body h4{
    display:inline;
}
.media .media-left{
    color:#4b4a4a4d;
}
form a.right,form button{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom:10px !important;
}
input[type="file"]{
    padding:0px 0px;
    border:none;
}
.black{
    color:black;
}
#forgot-password{
    margin-top:22px;
}
.form-group{
    padding-bottom:1px;
    margin-bottom:45px;
}
form{
    padding:10px;
}
.login-form .form-group{
    margin-bottom:15px;
}
.dropdown{
    float:right;
    margin: 6px;
}
.inline{
    display:inline-block;
    padding: 5px;
}
.dp{
    color:#4b4a4a4d;
}

/*dashboard specific*/
.panel-heading-right-text{
    padding:7px;
    float:right;
}
.row.rounded-top h5{
    display:inline-block;
}
.rounded-all{
    border-radius:8px;
    margin-bottom:30px;
}
.small-underline{
    margin-left:8px;
    text-decoration: underline;
}
.margin-top-15{
    margin-top: 30px;
}
.margin-top-16{
    margin-top:16px;
}
.after-media a{
    float:right;
    padding:4px;
}
.after-media{
    margin: 8px 5px 5px 15px;
}
.media-body form input[type="text"]{
    width:35%;
}
.media-body form input[type="submit"]{
    padding:0px;
}
.fa-2x,.fa-stack{
    color:black;
}